.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: midnightblue;
  color: ghostwhite;
}

.App-Row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0.5em;
  align-items: center;
}

.App-Canvas {
  width: 70vw;
}

button {
  border: 0.1rem;
  border-style: solid;
  border-radius: 5px;
  background-color: darkslateblue;
  padding: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: antiquewhite;
  transition-duration: 2.0s;
  position: relative;
  -webkit-transition-duration: 2.0s;
  cursor: pointer;
  /* overflow: hidden; */
}

button:enabled:hover {
  background-color: blueviolet;
}

button:after {
  background-color: silver;
  transition: all 2.0s;
  position: absolute;
  display: block;
  padding-top: 200%;
  padding-left: 250%;
  margin-top: -120%;
  margin-left: -50%;
  content: "";
  opacity: 0;
}

button:active:after {
  transition: 0s;
  margin: 0;
  padding: 0;
  opacity: 1;
}

button:disabled {
  background-color: slategrey;
  opacity: .5;
  color: lightsteelblue;
}

.rowbtn {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
