.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: midnightblue;
  color: ghostwhite;
}

.App-Row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0.5em;
  align-items: center;
}

.App-Canvas {
  width: 70vw;
}

button {
  border: 0.1rem;
  border-style: solid;
  border-radius: 5px;
  background-color: darkslateblue;
  padding: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: antiquewhite;
}

button:enabled:hover {
  background-color: blueviolet;
}

button:disabled {
  background-color: cornflowerblue;
  color: lightsteelblue;
}

.rowbtn {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
